body {
  /* background-image: url(../img/bg.jpeg); */
  background-color: skyblue;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  border: 5px dotted red;
  max-width: 1000px;
  margin: 40px auto;
}

#vision {
  color: green;
}